<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been removed successfully, <%= @user.full_name %></h1>
    <p>
      I am unable to invent text to show any kind of creativity in this email, but you can smile if you see this email. It is working!
    </p>
    <p>
      You JUST CANT login to the site, OR just follow this link: <%= @url %> (i hope you did not click).
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>